<nav class="navbar navbar-expand-lg navbar-light bg-white shadow fixed-top">
  <div class="container">
    <a class="navbar-brand px-5 py-3" href="/"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if title.present? %>
      <div class="fs-6 fw-bold text-center position-absolute top-50 start-50 translate-middle">
        <%= title %>
      </div>
    <% else %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-0 ms-lg-4 my-4 my-lg-0" method="GET" action="/" role="search">
          <div class="input-group rounded-pill bg-light p-1 search">
            <input name="q" class="form-control bg-transparent border-0 form-search" type="search" placeholder="Cari di sini ..." aria-label="Search" value="<%= search_term %>">
            <i class="bi bi-search input-group-text bg-transparent border-0"></i>
          </div>
        </form>

        <div class="ms-auto">
          <% if user_signed_in? %>
            <%= render "components/nav/users" %>
          <% else %>
            <%= render "components/buttons/login" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</nav>
