<div class="d-flex align-items-center">
  <%= image_tag user.avatar.representation(resize_to_limit: [400, 400]), class: "img-avatar w-100 rounded-4" %>

  <div class="card-body">
    <div class="fs-5 fw-bold"><%= user.name %></div>
    <div class="fs-6 text-black-50"><%= user.city.try(:name) %></div>
  </div>
</div>
