<div class="position-absolute top-0 start-0 translate-middle">
  <button class="btn btn-link" onclick="history.back()" style="transform: translate(-200%, 25%);">
    <i class="bi bi-arrow-left fs-5"></i>
  </button>
</div>
