<%= link_to notification.click_action, class: "notification my-4 px-2 position-relative", "data-notification-id": notification.id, "data-notification-read": notification.read do %>
  <% if notification.image.attached? %>
    <%= image_tag notification.image.representation(resize_to_limit: [128, 128]), class: "notification-image rounded-4 overflow-hidden me-4" %>
  <% else %>
    <%= image_tag "/empty-image.svg", class: "notification-image rounded-4 overflow-hidden me-4" %>
  <% end %>
  <div class="notification-body me-4">
    <div class="notification-subject fs-6 text-black-50"><%= notification.subject %></div>
    <div class="notification-body fs-5"><%= sanitize notification.body %></div>
  </div>
  <div class="notification-timestamp fs-6 text-black-50"><%= notification.created_at.in_time_zone("Asia/Jakarta").strftime("%d %b, %H:%M") %></div>

  <% unless notification.read? %>
    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  <% end %>
<% end %>
