<section class="container-sm">
  <ul class="p-5 notification-list">
    <% if @notifications.any? %>
      <% @notifications.each_with_index do |notification, index| %>
        <li>
          <%= link_to notification.click_action, class: "notification my-4 px-2 position-relative", "data-notification-id": notification.id, "data-notification-read": notification.read do %>
            <% if notification.image.attached? %>
              <%= image_tag notification.image.representation(resize_to_limit: [128, 128]), class: "notification-image rounded-4 overflow-hidden me-4" %>
            <% else %>
              <%= image_tag "/empty-image.svg", class: "notification-image rounded-4 overflow-hidden me-4" %>
            <% end %>
            <div class="notification-body me-4">
              <div class="notification-subject fs-6 text-black-50"><%= notification.subject %></div>
              <div class="notification-body fs-5"><%= sanitize notification.body %></div>
            </div>
            <div class="notification-timestamp fs-6 text-black-50"><%= notification.created_at.in_time_zone("Asia/Jakarta").strftime("%d %b, %H:%M") %></div>

            <% unless notification.read? %>
              <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
            <% end %>
          <% end %>
        </li>

        <% unless last_notifications?(index, @notifications) %>
          <li><hr></li>
        <% end %>
      <% end %>
    <% else %>
      <li class="p-2">Tidak ada notifikasi</li>
    <% end %>
  </ul>

  <%= will_paginate @notifications, page_links: false, class: "d-flex gap-4 align-items-center justify-content-center my-5" %>
</section>
