<section class="mt-lg-5 mb-5 w-100 d-flex gap-lg-5">
  <div class="promo left bg-success rounded-end flex-grow-1 align-self-center d-none d-lg-block"></div>

  <div class="promo center flex-grow-1 bg-warning rounded-lg-4 rounded-0">
    <div class="row p-5">
      <div class="col">
        <h1 class="fw-bold mb-4">Bulan Ramadhan<br>Banyak diskon!</h1>
        <h6 class="fs-5 fw-normal" >Diskon Hingga</h6>
        <h5 class="display-6 text-danger fw-bold">60%</h5>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

  <div class="promo right bg-info rounded-start flex-grow-1 align-self-center d-none d-lg-block"></div>
</section>

<section class="container">
  <h5 class="fw-bold mb-4">Telusuri Kategori</h5>

  <nav class="nav row gap-4 px-2 px-lg-0">
    <%= link_to root_path, class: "btn btn-alt-primary col rounded-4 py-2 px-4 d-inline-flex align-items-center #{params[:category_id].blank? && 'active'}" do %>
      <i class="bi bi-search me-3 fs-4"></i>
      Semua
    <% end %>

    <% @categories.each do |category| %>
      <%= link_to root_path(category_id: category.id, q: params[:q]), class: "btn btn-alt-primary col rounded-4 py-2 px-4 d-inline-flex align-items-center #{params[:category_id].eql?(category.id.to_s) && 'active'}" do %>
        <i class="bi bi-search me-3 fs-4"></i>
        <%= category.name %>
      <% end %>
    <% end %>
  </nav>

  <div class="row my-5 g-5" id='products'>
    <% @products.each do |product| %>
      <div class="col-12 col-md-4 col-lg-3">
        <%= render "components/product", product: product %>
      </div>
    <% end %>

    <%= will_paginate @products, page_links: false, class: "d-flex gap-4 align-items-center justify-content-center my-5" %>
  </div>
</section>

<div class="sticky-bottom d-flex align-items-center justify-content-center py-4">
  <%= link_to new_product_path, class: "btn btn-primary btn-lg rounded-4 d-inline-flex align-items-center justify-content-space-between px-5" do %>
    <i class="bi bi-plus fs-2 me-3"></i>
    <span class="fs-6">Jual</span>
  <% end %>
</div>
