<div class="form-image rounded-4 img-preview" onclick="clickFileInput(this)">
  <i class="bi bi-plus display-6"></i>
</div>

<%= form.file_field name, multiple: true, direct_upload: true, class: "d-none", accept: "image/png, image/jpeg" %>
