@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

.promo.center {
  min-height: 18rem;
}

.promo.left, .promo.right {
  min-height: 14rem
}

.product-card {
  text-decoration: none;
  color: unset;
}

.product-card:hover {
  background-color: var(--bs-light);
  color: var(--bs-primary);
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.form-label {
  font-size: 14px;
}

.container-sm {
  max-width: 48rem;
}

.navbar {
  min-height: 5rem;
}

.navbar-brand {
  background: var(--bs-primary);
}

.navbar .form-search:focus {
  box-shadow: none;
}

.navbar .search:focus-within {
  box-shadow: 0 0 0 1pt var(--bs-primary);
}

:root {
  --bs-primary: #7126B5;
  --bs-primary-rgb: 113, 38, 181;
  --bs-warning: #FFE9CA;
  --bs-warning-rgb: 255, 233, 202;
  --bs-success: #B6D4A8;
  --bs-success-rgb: 182, 212, 168;
  --bs-info: #E2D4F0;
  --bs-info-rgb: 226, 212, 240;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), .9);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 113, 38, 181;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-gray);
    --bs-btn-disabled-border-color: var(--bs-gray);
}


.btn-alt-primary {
    --bs-btn-color: rgb(var(--bs-body-color-rgb));
    --bs-btn-bg: #E2D4F0;
    --bs-btn-border-color: #E2D4F0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), .9);
    --bs-btn-hover-border-color: rgba(var(--bs-primary), .9);
    --bs-btn-focus-shadow-rgb: 113, 38, 181;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-outline-primary {
    --bs-btn-color: rgb(var(--bs-body-color-rgb));
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}

.min-height-100vh {
  min-height: 100vh;
}

.session-background {
  background: linear-gradient(360deg, rgba(var(--bs-primary-rgb), 0.5), rgba(var(--bs-primary-rgb), 0)), url("/session-background.png");
  background-size: cover;
}

.input-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-image {
  max-height: 12.5rem;
  max-width: 12.5rem;
  aspect-ratio: 1 / 1;
  color: #ced4da;
  border: 2pt dashed #ced4da;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form-image-preview {
  width: fit-content;
  height: fit-content;
}

.img-preview {
  max-width: 12.5rem;
  max-height: 12.5rem;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.img-avatar-profile {
  max-width: 12.5rem;
  max-height: 12.5rem;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.img-product-thumbnail {
  aspect-ratio: 16 / 9;
  max-width: 100%;
  object-fit: cover;
}

.img-avatar {
  max-width: 4rem;
  max-height: 4rem;
}

.bg-alt-primary {
  background-color: rgba(var(--bs-primary-rgb), .1);
}

.dropdown-toggle:after {
  content: none;
}

.card-title {
  font-weight: 500;
}

a.nav-link {
  color: unset;
}

a.nav-link:hover,
a.nav-link.active {
  color: var(--bs-primary);
  --bs-border-color: var(--bs-primary);
}

.navbar-nav .nav-item .nav-link.active {
  color: var(--bs-primary);
}

.new-product-button {
  text-decoration: none;
  padding: 5rem;
  border-style: dashed;
  border-color: var(--bs-light);
}

.nav-user {
  text-decoration: none;
  color: unset;
}

.nav-user:hover {
  color: var(--bs-primary);
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: rgb(var(--bs-body-color-rgb));
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
}

a {
  color: var(--bs-primary);
  text-decoration: none;
}

.notification {
  display: flex;
  align-items: start;
  justify-content: space-between;
  text-decoration: none;
  color: rgb(var(--bs-body-color-rgb))
}

.notification:hover .notification-subject {
  color: var(--bs-primary);
}

.notification-body {
  width: 100%;
}

.notification-body .notification-subject,
.notification-body .notification-body,
.notification-body .notification-product-price {
  width: 100%;
  white-space: nowrap;
}

.modal .img-offer,
.notification-image {
  aspect-ratio: 1 / 1;
  max-width: 4rem;
  object-fit: cover;
}

.notification-timestamp {
  white-space: nowrap;
}

.notification-dropdown-menu {
  --bs-dropdown-zindex: 10000;
}

.notification-dropdown-menu[data-bs-popper] {
  min-width: 25rem;
  max-height: 50vh;
  overflow-y: scroll;
  transform: translateX(-50%);
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.notification-dropdown-menu[data-bs-popper]::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.offers li {
  list-style: none;
}

.offer {
  display: flex;
  align-items: start;
}

.offer-image {
  border-radius: var(--bs-border-radius-xl) !important;
  aspect-ratio: 1 / 1;
  max-width: 4rem;
  object-fit: cover;
}

.offer-content {
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  flex-grow: 2;
}

.offer-header {
  display: flex;
  justify-content: space-between;
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.form-check-input:checked[type=radio] {
  background-image: none !important;
}

.alert-success {
  background-color: #73CA5C;
}

.notification-list {
  list-style: none;
}

.logout-button {
  color: unset;
  font-size: 1rem;
}

.logout-button i {
  font-size: 1.25rem;
}

.logout-button:hover {
  color: var(--bs-primary);
}
