<section class="container my-5">
  <div class="row">
    <div class="col-8">
      <% if @product.images.attached? %>
        <div id="productImage" class="carousel slide w-100 rounded-4 overflow-hidden carousel-fade" data-bs-ride="carousel">
          <% if @product.images.size > 1 %>
            <div class="carousel-indicators">
              <% @product.images.each_with_index do |image, index| %>
                <button type="button" data-bs-target="#productImage" data-bs-slide-to="<%= index %>" class="<%= index.zero? ? "active" : "" %>" aria-current="<%= index.zero? ? "active" : "" %>" aria-label="Slide <%= index + 1 %>"></button>
              <% end %>
            </div>
          <% end %>

          <div class="carousel-inner">
            <% @product.images.each_with_index do |image, index| %>
              <div class="carousel-item <%= index.zero? ? "active" : "" %>">
                <%= image_tag image.representation(resize_to_limit: [1024, 1024]), class: "w-100" %>
              </div>
            <% end %>
          </div>

          <% if @product.images.size > 1 %>
            <button class="carousel-control-prev" type="button" data-bs-target="#productImage" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productImage" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          <% end %>
        </div>
      <% end %>

      <div class="card mt-5 p-2 border border-4 border-light rounded-4">
        <div class="card-body">
          <h5 class="card-title fs-6">Deskripsi</h5>
          <p class="card-text text-black-50 fs-6"><%= @product.description %></p>
        </div>
      </div>

    </div>

    <div class="col-4">
      <div class="card p-2 rounded-4 shadow border-0">
        <div class="card-body">
          <h5 class="card-title fs-5 fw-bolder"><%= @product.name %></h5>
          <p class="card-text text-black-50 fs-6"><%= @product.category.name %></p>
          <p class="card-text fs-5">Rp <%= number_with_delimiter(@product.price.to_i, delimiter: ".") %></p>
          <% if mine? %>
            <% unless published? %>
              <%= form_with model: @product, method: "PUT" do |form| %>
                <%= form.hidden_field :status, value: "published" %>
                <%= form.hidden_field :preview, value: true %>
                <%= form.submit "Terbitkan", class: "btn btn-lg btn-primary fs-6 rounded-4 w-100 mb-3 py-3 fw-bold" %>
              <% end %>
            <% end %>
            <%= link_to "Edit", edit_product_path(@product.id), class: "btn btn-lg btn-outline-primary fs-6 rounded-4 w-100 py-3 fw-bold" %>
            <%= link_to "Delete", product_path(@product.id), data: { turbo_method: :delete }, class: "btn btn-lg btn-danger fs-6 rounded-4 w-100 py-3 fw-bold mt-3" %>
          <% elsif offered? %>
            <button class="btn btn-lg btn-primary fs-6 rounded-4 w-100 mb-3 py-3 fw-bold disabled">Menunggu respon penjual</button>
          <% elsif purchased? %>
            <button class="btn btn-lg btn-primary fs-6 rounded-4 w-100 mb-3 py-3 fw-bold disabled">Terbeli</button>
          <% else %>
            <button class="btn btn-lg btn-primary fs-6 rounded-4 w-100 mb-3 py-3 fw-bold" data-bs-toggle="modal" data-bs-target="#offerModal">Saya tertarik dan ingin nego</button>
          <% end %>
        </div>
      </div>

      <div class="card py-2 px-4 rounded-4 shadow border-0 mt-5">
        <div class="d-flex align-items-center">
          <%= image_tag @product.user.avatar.representation(resize_to_limit: [400, 400]), class: "img-avatar w-100 rounded-4" %>

          <div class="card-body">
            <div class="fs-5 fw-bold"><%= @product.user.name %></div>
            <div class="fs-6 text-black-50"><%= @product.user.city.try(:name) %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% unless mine? %>
  <div class="modal" tabindex="-1" id="offerModal">
    <div class="modal-dialog modal-dialog-centered">
      <%= form_with model: @offer, class: "modal-content px-4 py-2" do |form| %>
        <%= form.hidden_field :product_id, value: @product.id %>
        <%= form.hidden_field :to_id, value: @product.user_id %>

        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 class="fs-5 fw-bold mb-3">Masukkan Harga Tawarmu</h5>
          <p class="text-black-50 fs-5">Harga tawaranmu akan diketahui penual, jika penjual cocok kamu akan segera dihubungi penjual.</p>
          <div class="card bg-light border-0 rounded-4 shadow-sm px-4 py-2 mb-4">
            <div class="d-flex align-items-center">
              <%= image_tag @product.images.first.representation(resize_to_limit: [400, 400]), class: "img-offer w-100 rounded-4" %>

              <div class="card-body">
                <div class="fs-5 fw-bold"><%= @product.name %></div>
                <div class="fs-6"><%= to_price(@product.price) %></div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <%= form.label :price, "Harga Tawar", style: "display: block", class: "form-label" %>
            <%= form.number_field :price, class: "form-control rounded-4 p-3", placeholder: "Rp 0,00" %> 
          </div>
        </div>
        <div class="modal-footer border-0">
          <%= form.submit "Kirim", class: "btn btn-primary p-3 w-100 rounded-4 fw-bold" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
